<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="mb-4">Blog Articles</h1>
        <a href="articles/new" class="btn btn-success">New Article</a>

        <% articles.forEach(articles=>{ %>
        <div class="card  mt-4">
            <div class="card-body">
                <h2 class="card-title"> <%=articles.title %></h2>
                <div class="card-subtitle text-muted mb-2"> <%=articles.date.toLocaleDateString() %></div>
                <div class="card-text  mb-2"> <%=articles.description %></div>
                <div class="card-text  mb-2">
                    <a href="articles/<%=articles.slug %>" class="btn btn-primary mb-2">Read more </a>
                    <a href="articles/edit/<%=articles.id %>" class="btn btn-info">Edit</a>

                        <form action="/articles/<%= articles.id%>?_method=DELETE" class="form-inline" method="POST">
                            <button type="submit" class="btn btn-danger">DELETE</button></form>
                   
                            





                </div>
              

            </div>
           
        </div>
        <% }) %>
        
    </div>
  
</body>
</html>